body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.colorBox {
  display: flex;
  align-items: center;

}

.color {
  margin-right: 10px;
}

textarea {
  margin-right: 10px;
}

.formBox {
  display: flex;
}

input[type='submit'] {
  height: 30px;
}
